<!-- <p #para>about works 1!</p>
<p #para>about works 2!</p>
<input type="text" placeholder="Enter your name" #input />
<app-custom-card #customCard [about]="'onChanges test'"></app-custom-card>
<button (click)="showRandom()">Show Random message</button>
<app-comp-a></app-comp-a> -->

<form [formGroup]="form">
  <div formArrayName="arr">
    <div *ngFor="let group of getFormArr.controls; let i=index" [formGroupName]="i">
      <input formControlName="name" placeholder="Enter name" />
      <input formControlName="email" placeholder="Enter your email" />
      <input formControlName="something" placeholder="This is additional field" *ngIf="getFormArr.controls[i]?.get('something')" />
      <button (click)="addForm(i)">Add</button>
      <button (click)="removeForm(i)">remove</button>
    </div>
  </div>
</form>

<button (click)="addToForm()">Add form</button>
<button (click)="getFormValue()">Get form value</button>