<div class="card mt-4 shadow-sm">
  <div class="card-body">
    <div  class="row gx-3 gy-2 align-items-center">
      <div class="col">
        <label class="visually-hidden" for="todoInput">Enter your todo item</label>
        <input type="text" class="form-control" placeholder="Add your todo item here!" id="todoInput" [(ngModel)]="todoTask" />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" [disabled]="todoTask === ''" (click)="onSubmit()">ADD +</button>
      </div>
    </div>
  </div>
</div>
<app-modal [isOpen]="isSuccessModalOpen" [title]="'Added todo'" [body]="'Successfully added todo item'" (onClose)="handleModalClose()"></app-modal>
