<app-header></app-header>
<h3 style="text-align: center;">If you are preparing for interview follow me on LinkedIn @ CV Vikash</h3>
<hr />


<router-outlet></router-outlet>
<!-- <pre style="font-size: 20px;">
  // Related to JS
  constructor()

  // Related to @Input
  ngOnChanges()
  ngOnInit()
  
  // Related to change detection
  ngDoCheck()
  
  // Related to change detection of ng-content
  ngAfterContentInit()
  ngAfterContentChecked()
  
  // Related to change detection
  ngAfterViewInit()
  ngAfterViewChecked()
  
  // When component removed from DOM
  ngOnDestroy()
  
</pre> -->