<h1>Hello world</h1>
<hr />
<h1>If you are preparing for interview follow me on <br /> LinkedIn @ CV Vikash</h1>
<hr />


<!-- <app-child-two>
  <b><i>CV</i> {{ name }}</b>
</app-child-two>

<app-child-one (onVikash)="handleVikash($event)" [name]="name"></app-child-one> -->

<app-async-demo></app-async-demo>

<!-- <input type="text" name="input" placeholder="Type something" id="abc" #abc /> -->

<!-- <button (click)="handleClick($event)">Click me</button> -->

<!-- Parent to child ==> @Input -->
<!-- Child to parent ==> @Output (Creating custom event)-->
<!-- non-Child, parent ==> Services (Subject) -->

<!-- Template reference variable -->
<!-- ViewChild & ViewChildren -->
<!-- <ng-content> Content projection -->
<!-- Local/session storage -->