<!-- Navbar start -->
<app-navbar class="fixed-header" (openSideMenu)="toggleSideMenu($event)"></app-navbar>
<!-- Navbar end -->
<!-- Mat drawer start -->
<mat-drawer-container class="example-container">

  <!-- Left side menu start -->
  <mat-drawer mode="side" opened>
    <app-sidenav *ngIf="isExpanded"></app-sidenav>
    <app-sidenavmin *ngIf="!isExpanded"></app-sidenavmin>
  </mat-drawer>
  <!-- Left side menu end -->

  <!-- Main content start -->
  <mat-drawer-content [ngStyle]="{'margin-left': !isExpanded ? '5rem' : '240px' }">
    <div class="content-container">
      <app-video-suggestions></app-video-suggestions>
    </div>
  </mat-drawer-content>
  <!-- Main content end -->

</mat-drawer-container>
<!-- Mat drawer end -->