<app-parent-wrapper></app-parent-wrapper>

<app-demo1
  [title]="'this is title 1'"
  [body]="''"
>
  <h3>HEading</h3>
  <p>this is body</p>
</app-demo1>

<app-demo1 [title]="'this is title 2'" [body]="'this is body'">
  <p>This is para</p>
</app-demo1>

<app-demo1 [title]="'this is title 3'" [body]="'this is body'">
  <img src="" alt="... This is image" />
</app-demo1>

<app-demo1 [title]="'this is title 4'" [body]="'this is body'"></app-demo1>

<app-demo2></app-demo2>

<angular-editor id="editor1"></angular-editor>
