<input type="text" [(ngModel)]="postId" placeholder="Enter post id to fetch" />
<button (click)="getPostById()">Fetch</button>

<p *ngIf="loading;else elsePart">Loading post...</p>
<ng-template #elsePart>
  <h3>{{ singlePost.title }}</h3>
  <p>{{ singlePost.body }}</p>
</ng-template>

<input type="text" [(ngModel)]="postTitle" placeholder="Post title" />
<input type="text" [(ngModel)]="postBody" placeholder="Post Content.." />
<button (click)="addNewPost()">Add a post</button>

<!-- <app-custom-card>
  <h1 heading>Angular learning</h1>
  <p class="content">
    This is angular course
    <button>Read more</button>
  </p>
</app-custom-card> -->
<!-- 
<button (click)="showFlypanel()">Open flypanel</button>

<app-flypanel *ngIf="openFlypanel">
  <app-flypanel-heading (closingFlypanel)="onClose($event)">
    <p>Hello ng-content</p>
  </app-flypanel-heading>

  <app-flypanel-content>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <p>Some more content about me</p>
    <button>fasdfsd</button>
  </app-flypanel-content>

  <app-flypanel-footer>
    <p>This is some footer text</p>
  </app-flypanel-footer>
</app-flypanel> -->

<app-comp-a></app-comp-a>
<app-comp-b></app-comp-b>