<div class="container">
  <details open>
    <summary>Interview questions</summary>
    <h2>1. What are modules in Angular?</h2>
    <h4>
      <ul>
        <li></li>
      </ul>
    </h4>
    
    <hr />

    <h2>2. Types of modules?</h2>
    <h4>
      <ul>
        <li>Root module</li>
        <li>Featured module</li>
        <li>Shared module</li>
      </ul>
    </h4>

    <hr />

    <h2>3. Options in Module?</h2>
    <h4>
      <ul>
        <li>declarations: [...] - Components, Pipes</li>
        <li>imports: [...] - Other modules to import</li>
        <li>exports: [...] - Components, Pipes that can expose outside of the module</li>
        <li>providers: [...] - Services</li>
        <li>bootstrap: [] - Only available in root module</li>
      </ul>
    </h4>

    <hr />
  </details>

  
</div>